@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>2016 Video Game Data Analysis</h1>
    <h2>By Team Rainier</h2>
    <h4>Angela Vu, Elizabeth Fuenzalida, James Porter, Sunny Wu</h4>
    <div class="row">
        <div class="col-lg-4">Queries</div>
        <div class="col-lg-1">@Html.ActionLink("Q1", "Q1", "Home")</div>
        <div class="col-lg-1">@Html.ActionLink("Q2", "Q2", "Home")</div>
        <div class="col-lg-1">@Html.ActionLink("Q3", "Q3", "Home")</div>
        <div class="col-lg-1">@Html.ActionLink("Q4", "Q4", "Home")</div>
        <div class="col-lg-1">@Html.ActionLink("Q5", "Q5", "Home")</div>
        <div class="col-lg-1">@Html.ActionLink("Q6", "Q6", "Home")</div>
        <div class="col-lg-1">@Html.ActionLink("Q7", "Q7", "Home")</div>
        <div class="col-lg-1">@Html.ActionLink("Q8", "Q8", "Home")</div>
    </div>
</div>